<!-- <div class="container">
    <app-cockpit 
        (serCreated)='onServerAdded($event)'
        (bluePrintCreated)='onBluePrintAdded($event)'
    ></app-cockpit>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary mt-3" *ngIf="serverElements.length > 0" (click)='onChangeFirst()'>changed</button>
            <button class="btn btn-danger mt-3" *ngIf="serverElements.length > 0" (click)='deleteElement()'>changed</button>
            <app-server-element
            *ngFor="let item of serverElements"
            [srvElement]='item'
            [name]='item.name'>
            <p #contentparagraph>
                <strong *ngIf="item.type === 'server'" style="color: red;">{{item.content}}</strong>
                <em *ngIf="item.type === 'blueprint'">{{item.content}}</em>
            </p>
            </app-server-element>
        </div>
     </div>
</div>    -->
        <!-- <app-base></app-base>
        <hr>
        <app-warning-alert></app-warning-alert>
        <hr>
        <app-success-alert></app-success-alert>
        <hr> -->
       
        <!-- <app-server-element></app-server-element> -->
<!-- 
<div class="container">
    <h4 class="text-center">Share the data into parent to child and child to parent</h4>
    <div class="row">
        <app-server (courseData)="getCourseData($event)"></app-server>
    </div>
    <div class="row">
        <app-base *ngFor="let course of courses"
         [courseDetails]="course"
         >
         <p>
             <strong>Price  : $ {{course.coursePrice}} </strong>
             <br>
             <em>Review : {{course.courseReview}} </em>
         </p>
        </app-base>
    </div>
</div> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-xxl-12 col-md-8 col-md-offset-2">
            <app-new-account></app-new-account>
            <hr>
            <app-account *ngFor="let acc of account; let i = index"
            [account]="acc"
            [id]="i"
            ></app-account>
        </div>
    </div>
</div> -->

<!-- learn viewEncapsulation -->

<app-base [name]="name"></app-base>
<h3 class="test">{{ name2 }}</h3>

<button class="btn btn-primary m-3" (click)="show(0)">BaseComponent</button>
<button class="btn btn-primary  m-3" (click)="show(1)">BaseComponent2</button>

<ng-template host></ng-template>